@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

// https://colors.eva.design/?utm_campaign=eva_design%20-%20eva%20colors%20-%20nebular%20docs%20link&utm_source=nebular&utm_medium=referral&utm_content=enable_customizable_theme_primary_color

$nb-themes: nb-register-theme(
  (
    color-info-100: #fed7f2,
    color-info-200: #fdb1ec,
    color-info-300: #fa89eb,
    color-info-400: #f66aee,
    color-info-500: #ea3bf0,
    color-info-600: #bb2bce,
    color-info-700: #8f1dac,
    color-info-800: #68128b,
    color-info-900: #4c0b73,
    color-info-transparent-100: rgba(234, 59, 240, 0.08),
    color-info-transparent-200: rgba(234, 59, 240, 0.16),
    color-info-transparent-300: rgba(234, 59, 240, 0.24),
    color-info-transparent-400: rgba(188, 129, 190, 0.32),
    color-info-transparent-500: rgba(234, 59, 240, 0.4),
    color-info-transparent-600: rgba(234, 59, 240, 0.48),
  ),
  anyUppTheme,
  default
);
