<nb-card>
  <nb-card-header>
    <div class="float-left">
      {{ 'adminUsers.editAdminUserRole' | translate }}
    </div>
    <button
      nbButton
      ghost
      shape="round"
      size="small"
      class="float-right"
      (click)="close()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="dialogForm" (ngSubmit)="submit()" [autocomplete]="false">
      <div class="subtitle">{{ adminUser.name }}</div>

      <app-form-admin-role
        [roleFormGroup]="dialogForm.controls.roles"
      ></app-form-admin-role>

      <div class="mt-20">
        <button
          nbButton
          size="small"
          type="submit"
          fullWidth
          status="primary"
          [disabled]="dialogForm.invalid"
        >
          {{ 'common.submit' | translate }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
