# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.eslintcache

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# libs

cyreport
.setup*.sh
.build
.serverless
/apps/anyupp-backend/build
/apps/infrastructure/cicd/build

# The config - don't commit!
cdk.out

/libs/anyupp-gql/api/src/lib/generated
/libs/anyupp-gql/backend/src/graphql/schema/generated
/libs/crud-gql/api/src/lib/generated/
/libs/integration-tests/universal/src/lib/generated

apps/crud-backend/home/
apps/crud-backend/src/

weeklyReport.xlsx

.angular/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
