<div class="mt-3">
  <label class="caption">{{ 'roles.assignedChains' | translate }}</label>
</div>
<div class="row" *ngFor="let chain of assignedChains; let idx = index">
  <div class="col-12 subtitle-2">
    {{ chain.name }}

    <button
      nbButton
      type="button"
      status="danger"
      shape="round"
      size="tiny"
      class="ml-2"
      (click)="removeChain(idx)"
    >
      <nb-icon icon="minus-outline"></nb-icon>
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div>
      <label class="caption">{{ 'roles.selectChain' | translate }}</label>
    </div>
    <div>
      <nb-select
        size="small"
        [formControl]="entitySelector['controls'].chainId"
      >
        <nb-option value="">-</nb-option>
        <nb-option *ngFor="let option of chainOptions" [value]="option.key">{{
          option.value
        }}</nb-option>
      </nb-select>
    </div>
  </div>
</div>

<div>
  <button
    *ngIf="entitySelector.value.chainId"
    nbButton
    type="button"
    shape="round"
    size="tiny"
    class="mt-3"
    (click)="addChain()"
  >
    <nb-icon icon="plus-outline"></nb-icon> {{ 'roles.assign' | translate }}
  </button>
</div>
