<nb-card>
  <nb-card-header>
    <div class="float-left">{{ (unit?._id ? 'units.editUnit' : 'units.newUnit') | translate }}</div>
    <button nbButton ghost shape="round" size="small" class="float-right" (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="dialogForm" (ngSubmit)="submit()" [autocomplete]="false">
      <div class="row">
        <div class="col-md-6">
          <app-form-text-input
            caption="common.name"
            type="text"
            [control]="dialogForm.controls.name"
          ></app-form-text-input>
        </div>
        <div class="col-md-6">
          <app-form-select
            caption="common.group"
            [options]="groupOptions"
            [control]="dialogForm.controls.groupId"
            [localize]="false"
          ></app-form-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-form-text-input
            caption="common.descriptionHU"
            type="text"
            [control]="dialogForm.controls.description['controls'].hu"
          ></app-form-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-form-text-input
            caption="common.descriptionEN"
            type="text"
            [control]="dialogForm.controls.description['controls'].en"
          ></app-form-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-form-text-input
            caption="common.descriptionDE"
            type="text"
            [control]="dialogForm.controls.description['controls'].de"
          ></app-form-text-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <app-form-text-input
            caption="units.openFrom"
            type="date"
            [control]="dialogForm.controls.open['controls'].from"
          ></app-form-text-input>
        </div>
        <div class="col-md-4">
          <app-form-text-input
            caption="units.openTo"
            type="date"
            [control]="dialogForm.controls.open['controls'].to"
          ></app-form-text-input>
        </div>

        <div class="col-md-4 pt-4">
          <app-form-checkbox caption="common.isActive" [control]="dialogForm.controls.isActive"></app-form-checkbox>
        </div>
      </div>

      <fieldset class="form">
        <legend class="label">{{ 'common.paymentModes.title' | translate }}</legend>

        <nb-checkbox
          class="mr-5 mb-3"
          [checked]="paymentModeIsChecked(paymentMode)"
          (checkedChange)="togglePaymentMode(paymentMode)"
          *ngFor="let paymentMode of paymentModes"
        >
          <label class="caption"> {{ paymentMode.caption | translate }}</label>
        </nb-checkbox>
      </fieldset>

      <app-form-contact-group [contactFormGroup]="dialogForm"></app-form-contact-group>

      <app-form-weekly-schedule [scheduleControl]="dialogForm.controls.openingHours"></app-form-weekly-schedule>

      <app-form-unit-lanes [lanesFormArray]="dialogForm.controls._lanesArr"></app-form-unit-lanes>

      <div class="mt-20">
        <button nbButton size="small" type="submit" fullWidth status="primary" [disabled]="dialogForm.invalid">
          {{ 'common.submit' | translate }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
