<nb-card [ngClass]="{ resized: resized }" class="h-100 mb-0">
  <nb-card-header class="position-relative">
    <div class="float-left font-larger">
      {{ 'dashboard.listTitle' | translate }}
      <button
        shape="round"
        nbButton
        *ngIf="selectedUnit"
        size="small"
        class="ml-3 font-larger"
        [status]="selectedUnit.isAcceptingOrders ? 'success' : 'danger'"
        (click)="toggleAcceptingOrders($event)"
      >
        {{ (selectedUnit.isAcceptingOrders ? 'orders.ordersAccepted' : 'orders.ordersBlocked') | translate }}
      </button>
    </div>

    <div class="clock-container d-none d-lg-block">
      <div class="clock">{{ time }}</div>
    </div>

    <nb-actions [size]="buttonSize" class="float-right">
      <nb-action [icon]="resized ? 'minimize-outline' : 'maximize-outline'" (click)="toggleResize()"></nb-action>
      <nb-action
        [ngClass]="dashboardSettings.listMode === EDashboardListMode.FLOOR_MAP ? 'active' : 'inactive'"
        icon="map-outline"
        (click)="selectListMode(EDashboardListMode.FLOOR_MAP)"
      ></nb-action>
      <nb-action
        [ngClass]="dashboardSettings.listMode === EDashboardListMode.LANES ? 'active' : 'inactive'"
        icon="swap-outline"
        (click)="selectListMode(EDashboardListMode.LANES)"
      ></nb-action>
      <nb-action
        [ngClass]="dashboardSettings.listMode === EDashboardListMode.CURRENT ? 'active' : 'inactive'"
        icon="clock-outline"
        (click)="selectListMode(EDashboardListMode.CURRENT)"
      ></nb-action>
      <nb-action
        [ngClass]="dashboardSettings.listMode === EDashboardListMode.HISTORY ? 'active' : 'inactive'"
        icon="archive-outline"
        (click)="selectListMode(EDashboardListMode.HISTORY)"
      ></nb-action>
      <nb-action
        [ngClass]="dashboardSettings.listMode === EDashboardListMode.REPORTS ? 'active' : 'inactive'"
        icon="pie-chart-outline"
        (click)="selectListMode(EDashboardListMode.REPORTS)"
      ></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body id="dashboardMainCardBody" class="p-1">
    <app-order-ticket-body
      *ngIf="
        dashboardSettings.listMode === EDashboardListMode.CURRENT ||
        dashboardSettings.listMode === EDashboardListMode.HISTORY
      "
    ></app-order-ticket-body>
    <app-lanes-body *ngIf="dashboardSettings.listMode === EDashboardListMode.LANES"></app-lanes-body>
    <app-floor-map-body *ngIf="dashboardSettings.listMode === EDashboardListMode.FLOOR_MAP"></app-floor-map-body>
    <app-reports-body *ngIf="dashboardSettings.listMode === EDashboardListMode.REPORTS"></app-reports-body>
  </nb-card-body>
</nb-card>
