@import '../../../../@theme/styles/themes';

.accepting-orders  {
  position: relative;
  top: -4px;
}

bgap-order-print {
  display: none;
}

::ng-deep .selectedOrder {
  background-color: nb-theme(color-basic-200) !important;
}
