<nb-card class="h-100 mb-0">
  <nb-card-header>
    <div class="float-left">
      {{ 'groups.listTitle' | translate }}
    </div>
    <button nbButton type="button" shape="round" size="small" class="float-right" (click)="addGroup()">
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngFor="let group of groups$ | async">
      <nb-list-item *ngIf="group.chainId === (selectedChainId$ | async)">
        <app-group-list-item class="w-100" [group]="group"></app-group-list-item>
      </nb-list-item>
    </ng-container>
  </nb-card-body>
</nb-card>
