<nb-layout center>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <h1 class="title">
          AnyUpp Login <sup>{{ env.name }}</sup>
        </h1>

        <bgap-login-form
          *ngIf="formMode === EFormMode.LOGIN"
          [toggleResetForm]="toggleResetForm"
        ></bgap-login-form>
        <bgap-password-reset-form
          *ngIf="formMode === EFormMode.RESET"
          [toggleResetForm]="toggleResetForm"
        ></bgap-password-reset-form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
