<div class="mt-3">
  <label class="caption">{{ 'roles.assignedGroups' | translate }}</label>
</div>
<div class="row" *ngFor="let unit of assignedUnits; let idx = index">
  <div class="col-12 subtitle-2">
    {{ unit.chainName }} / {{ unit.groupName }} / {{ unit.unitName }}

    <button
      nbButton
      type="button"
      status="danger"
      shape="round"
      size="tiny"
      class="ml-2"
      (click)="removeUnit(idx)"
    >
      <nb-icon icon="minus-outline"></nb-icon>
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div>
      <label class="caption">{{ 'roles.selectChain' | translate }}</label>
    </div>
    <div>
      <nb-select
        size="small"
        [formControl]="entitySelector['controls'].chainId"
      >
        <nb-option value="">-</nb-option>
        <nb-option *ngFor="let option of chainOptions" [value]="option.key">{{
          option.value
        }}</nb-option>
      </nb-select>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <label class="caption">{{ 'roles.selectGroup' | translate }}</label>
    </div>

    <nb-select size="small" [formControl]="entitySelector['controls'].groupId">
      <nb-option value="">-</nb-option>
      <nb-option *ngFor="let option of groupOptions" [value]="option.key">{{
        option.value
      }}</nb-option>
    </nb-select>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div>
      <label class="caption">{{ 'roles.selectUnit' | translate }}</label>
    </div>
    <div>
      <nb-select size="small" [formControl]="entitySelector['controls'].unitId">
        <nb-option value="">-</nb-option>
        <nb-option *ngFor="let option of unitOptions" [value]="option.key">{{
          option.value
        }}</nb-option>
      </nb-select>
    </div>
  </div>
</div>

<div>
  <button
    *ngIf="entitySelector.value.unitId"
    nbButton
    type="button"
    shape="round"
    size="tiny"
    class="mt-3"
    (click)="addUnit()"
  >
    <nb-icon icon="plus-outline"></nb-icon> {{ 'roles.assign' | translate }}
  </button>
</div>
